- name: zsh - Change shell
  community.docker.docker_container_exec:
    container: "{{ fedora_box_name }}"
    command: sudo -k chsh -s /usr/bin/zsh {{ user }}

- name: Download oh-my-zsh install script locally
  ansible.builtin.shell: wget https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh -O zsh-install.sh

- name: oh-my-zsh - copy install script
  ansible.builtin.copy:
    src: zsh-install.sh
    dest: "{{ box_homedir }}/zsh-install.sh"

- name: oh-my-zsh - install
  community.docker.docker_container_exec:
    container: "{{ fedora_box_name }}"
    command: sh "{{ box_homedir }}"/zsh-install.sh
    user: "{{ user }}"
  register: command_result
  # DO not fail if oh-my-zsh is installed
  failed_when: "not command_result.stdout"

- name: oh-my-zsh - remove install script
  ansible.builtin.file:
    path: zsh-install.sh
    state: absent

- name: oh-my-zsh - copy needed files to home directory
  ansible.builtin.copy:
    src: files/to-home-dir/
    dest: "{{ box_homedir }}/"

- name: clone zsh plugins
  ansible.builtin.git:
    repo: "{{ item.repo}}"
    dest: "{{ box_homedir }}/.oh-my-zsh/custom/plugins/{{ item.name }}"
  loop:
  - { repo: 'https://github.com/TamCore/autoupdate-oh-my-zsh-plugins', name: 'autoupdate' }
  - { repo: 'https://github.com/chrissicool/zsh-256color', name: 'zsh-256color' }
  - { repo: 'https://github.com/zsh-users/zsh-autosuggestions', name: 'zsh-autosuggestions' }
  - { repo: 'https://github.com/zdharma/fast-syntax-highlighting.git', name: 'fast-syntax-highlighting' }
  - { repo: 'https://github.com/zsh-users/zsh-syntax-highlighting.git', name: 'zsh-syntax-highlighting' }

- name: clone astro-nvim
  ansible.builtin.git:
    repo: https://github.com/AstroNvim/AstroNvim
    dest: "{{ box_homedir }}/.config/nvim"

- name: Create ~/.local/bin/ directory
  ansible.builtin.file:
    path: "{{ box_homedir }}/.local/bin/"
    state: directory

- name: Create ~/.local/share/fonts/ directory
  ansible.builtin.file:
    path: "{{ box_homedir }}/.local/share/fonts/"
    state: directory

- name: Download fonts for powerlevel10k
  ansible.builtin.copy:
    src: files/fonts/
    dest: "{{ box_homedir }}/.local/share/fonts/"

- name: Apply fonts
  ansible.builtin.shell: fc-cache -v

- name: clone powerlevel10k zsh theme
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "{{ box_homedir }}/.oh-my-zsh/custom/themes/powerlevel10k"
    depth: 1
